* {
    box-sizing: border-box;
  
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      border: none;
    }
    
  body{
    background-color: #ffffff;
  }
  
  .carrossel-principal{
    margin-bottom: 50px;
  }
  
  .botao-nav{
    border-radius: 10px;
    border:2px solid #47B5FF;
    color:#256D85;
  
  }
  .botao-nav:hover{
    border-radius: 10px;
    color:#256D85;
    border:2px solid #DFF6FF;
  }
  
  h5{
    color:#256D85;
    font-size: 30px;
    background-color: rgba(204, 204, 204, 0.736);
  
  }
  .parte2{
    margin-top: 90px;
    margin-bottom: 500px;
  }
  
  /*card compras */
  div.gallery {
    border: 1px solid #ccc;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 16%;
    
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  .responsive {
    padding: 0 6px;
    float: center;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .botão-card{
    margin-left: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: #777;
    color: #DFF6FF;
    background-color: #47B5FF;
    border: 0;
    padding: 2%;
    font-size: 18px;
  }
  
  /*CARD DISNEY */
  .card text-bg-dark{
    margin-top: 40%;
  }
  .card-title{
    font-size: 43px;
  }
  .link-diney{
    color:yellow;
    text-decoration: none
  }
  .link-diney:hover{
    color: #256D85;
    font-size: 47px;
  }
  .lista-card{
    font-size: 13px;
  
  }
  /*ANIMAÇÃO "MAIS VIAGEM TE LEVA*/
  h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 5px;
    font-size:60px;
    color: rgb(237, 236, 228);
  }
  
  .header {
    position:relative;
    text-align:center;
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    color:white;
    margin-bottom: 5%;
    height: 1%;
    width: 20px 30px 20px 30px;
  }
  
  .inner-header {
    height:65vh;
    width:100%;
    margin: 0;
    padding: 0;
  }
  
  .flex { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .waves {
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px;
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:20vh;
    text-align:center;
    background-color: white;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
  .black-friday{
  background-color:#47B5FF;
  padding: 3%;
  border-radius: 12px;
  width: 40px 20px 40px 20px;
  height: 80%;
  text-align: center;
  align-items: center;
  color: #ffffff;
  
  margin-top: 3%;
  }
  
  .texto-blackfriday:link{
    text-decoration: none;
  }
  .texto-blackfriday:hover{
    color: #fff;
  }
  
  .botão-cadastro{
    border-radius: 10px;
    padding: 18px;
    font-size: 15px;
    color:#256D85;
    background-color: rgb(210, 220, 66);
  }
  .rodape {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 12px;
    padding: 9px;
    }
     
  .article {
      display: inline;
      text-align: left;
      float: left;
      padding-left: 10px;
     }

  .article2 {
    display: inline;
    text-align: center;
    
    padding-left: 10px;
  }
     
  .sidebar {
      display: inline;
      text-align: left;
      float: right;
      padding-right: 10px;
     }
  .card-header{
    background-color: rgb(34, 122, 216);
    color: white;
  }
  .card-body{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;

  }

  
